<style type="text/css">
	h4, form {
		text-align: center;
		margin: 10px;
	}
</style>
<div id='name'>
	<h1>The Wall</h1>
</div>
<h4>Hello! Please enter your name to join and share your ideas:</h4>

<form ng-submit='loginUser(newUser)' novalidate name='login'>
	<input type='text' ng-trim='false' ng-model='newUser.name' ng-pattern='/^[a-zA-Z0-9_]*$/' name='username' ng-maxlength='10' required />
	<button ng-show='login.$valid'>Enter</button>
</form>

<p><span ng-show='login.username.$error.maxlength'>Cannot be longer than 10 characters!
</span></p>

<p><span ng-show='login.username.$error.pattern'>Username can only contain letters and numbers or underscores, no other special characters allowed.
</span></p>