<title>Wall</title>
<link rel="stylesheet" type="text/css" href="../css/login.css">
<body>
	<div class="container">
		<div id='login'>
			<div id='logo'>
				<h1>Wall</h1>
				<span>A discussion forum</span>
			</div>
			<h4>Please enter your name</h4>
			<form ng-submit='loginUser(newUser)' novalidate name='login'>
				<div class='clearable-input'>
					<input type='text' ng-trim='false' ng-model='newUser.name' ng-pattern='/^[a-zA-Z0-9_]*$/' name='username' ng-maxlength='10' required />
					<span data-clear-input>&times;</span>
				</div>
				<button ng-show='login.$valid'>Enter</button>
			</form>

			<p ng-show='login.username.$error.maxlength'>Cannot be longer than 10 characters!</p>

			<p ng-show='login.username.$error.pattern'>Username can only contain letters and numbers or underscores, no other special characters allowed.</p>
		</div>
	</div>
</body>