<title>The Wall</title>
<link rel="stylesheet" type="text/css" href="../css/login.css">
<body>
	<div class="container">
		<div id='login'>
			<h1>The Wall</h1>
			<span>A discussion forum</span>
			<h4>Please enter your name to join and share your ideas:</h4>

			<form ng-submit='loginUser(newUser)' novalidate name='login'>
				<div class='clearable-input'>
					<input type='text' ng-trim='false' ng-model='newUser.name' ng-pattern='/^[a-zA-Z0-9_]*$/' name='username' ng-maxlength='10' required />
					<span data-clear-input>&times;</span>
				</div>
				<button ng-show='login.$valid'>Enter</button>
			</form>

			<p ng-show='login.username.$error.maxlength'>Cannot be longer than 10 characters!</p>

			<p ng-show='login.username.$error.pattern'>Username can only contain letters and numbers or underscores, no other special characters allowed.</p>
		</div>
	</div>
</body>