<style type="text/css">
    h2 {
      margin: 5px 0px 0px 20px !important;
    }
    #search {
      display: block !important;
      float: right;
      margin: 20px;
    }
    #search input {
      width: 100px !important;
      float: right;
      margin-left: 5px;
    }
    .topics {
      width: 95%;
      display: block;
    }
    .topics table {
      border-collapse: collapse;
      width: 100%;
    }
    .topics th, td {
      text-align: left;
      padding: 8px;
    }
    .topics tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    .topic {
      margin: 20px !important;
      display: block;
    }
    .topic input, textarea, select {
      width: 30%;
      margin: 10px !important;
    }
    #addButton {
      margin: 2% 50% !important;
    }
    #newTopic {
      width: 50%;
    }
    #newTopic tr, input, textarea, select {
      width: 90% !important;
    }
</style>
<div id='name'>
  <h1>The Wall</h1>
  <div ng-controller="UserController" ng-if="currentUser" id="links">
    <a href="#/dashboard">Dashboard   </a>|
    <a href='' ng-click="logout()">   Logout </a>
  </div>
</div>
<h2>Welcome, {{currentUser.name}}!</h2>
<div id='search'>
	Search: <input type="text" ng-model="search.topic">
</div>
<div class='topics' style="overflow-x: auto;">
  <table>
    <tr>
      <th>Category</th>
      <th>Topic</th>
      <th>User Name</th>
      <th>Posts</th>
    </tr>
    <tr ng-repeat='topic in topics | filter: search'>
      <td>{{topic.category}}</td>
      <td><a href="#/topic/{{topic._id}}">{{topic.topic}}</a></td>
      <td><a href="#/user/{{topic.user._id}}">{{topic.user.name}}</a></td>
      <td>{{topic.answers.length}}</td>
    </tr>
  </table>
</div>
<div class='topic'>
	<h3>Add a new Topic</h3>
  <table id="newTopic">
    <tr>
      <td><label>Topic: </label></td>
      <td><input ng-model='newTopic.topic' /><br /></td>
    </tr>
    <tr>
      <td><label>Description: </label></td>
      <td><textarea ng-model='newTopic.description'></textarea><br /></td>
    </tr>
    <tr>
      <td><label>Category: </label></td>
      <td>
        <select ng-model='newTopic.category'>
          <option>Ruby on Rails</option>
          <option>MySQL</option>
          <option>UX</option>
          <option>Web Development</option>
        </select>
      </td>
    </tr>
  </table>
	<button id="addButton" ng-click='createTopic(newTopic, user)'>Submit</button>
</div>