* {
	margin: 0 auto;
	padding: 0 auto;
}

html {
	font-family: "Goudy Old Style", Serif;
}

/* For mobile phones */
[class*="col-"] {
	width: 100%;
}

body {
	background-color: #268cff;
}

.containter {
	width: 100%;
}

#login {
	position: absolute;
	background-color: #fefefe;
	width: 320px;
	height: 400px;
	top: 50%;
	left: 50%;
	margin: -200px -160px;
	text-align: center;
	border: 1px hidden;
	border-radius: 4px;
}
	#logo {
		width: 70%;
		height: 22%;
		margin: 40px auto;
		border: 0.5px solid #d6dae0;	/*light-grey*/
		border-radius: 4px;
		box-shadow: 1px 1px 1px 1px #d6dae0;
	}
		h1 {
			color: #268cff;
			padding: 10px 0 5px 0;
		}

		span {
			font-family: "Papyrus", fantasy;
			color: #888789;
		}

	h4 {
		padding: 40px 0px 15px 0px;
		font-family: "Goudy Old Style", Serif;
		color: #888789;
	}

	.clearable-input {
		position: relative;
		display: inline-block;
	}
	.clearable-input input {
		border: 2px solid #d6dae0;
		border-radius: 4px;
		padding: 8px;
	}
	.clearable-input [data-clear-input] {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		font-weight: bold;
		font-size: 1.4em;
		width: 2.5px;
		color: #888789;
		padding: 0 0.2em;
		line-height: 1.5em;
		cursor: pointer;
	}
	.clearable-input input::-ms-clear {
		display: none;
	}
	
	button {
		background-color: #268cff;	/* Blue */
		border: hidden;
		border-radius: 4px;
		color: white;
		margin-top: 20px;
		padding: 10px 53px;
		text-align: center;
		display: block;
		font-size: 15px;
		-webkit-transition-duration: 0.4s;
		transition-duration: 0.4s;
		cursor: pointer;
	}
	button:hover {
		background-color: white;
		color: #268cff;
		border: 1px solid #268cff;
	}

@media only screen and (min-width: 600px) {
	/* For tablets */
}

@media only screen and (min-width: 768px) {
	/* For desktop */

}